* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    height: 70px;
    padding: 65px 60px;
    box-shadow: 0px 5px 10px rgb(206, 206, 206);
    display: flex;
    align-items: center;
}

.nav-logo {
    width: 150px;
}

.hero-blocks {
    display: flex;
    flex-flow: column wrap;
    height: 700px;
    width: 1050px;
    margin: auto;
    justify-content: center;
    align-items:center;
    gap: 10px 10px;
}

.block { 
    width: 200px;
    height: 275px;
    border-radius: 25px;
    background-color: #FF5A5F;
    /* margin: 10px; */
}

#block1 {
    margin: 80px 0px;
}

#block4 {
    margin-top: 120px;
}

#block9 {
    margin-top: 120px;
}

.hero-text {
    width: 100%;
    padding: 80px 65px;
}

.hero-title {
    font-size: 50pt;
    letter-spacing: 2px;
}

.hero-info {
    margin-top: 20px;
    font-size: 24pt;
    width: 600px;
}

.card {
    margin-left: 65px;
    margin-bottom: 60px;
    line-height: 30px;
}

.card-image {
    height: 325px;
    width: 250px;
    border-radius: 15px;
    background-color:#FF5A5F;
}

.card-star {
    margin-right: 10px;
    height: 20px;
}

.card-rating {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    width: 250px;
    align-items: center;
}

.grey {
    color: grey;
}