body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items > li {
    padding: 10px;
}

.react-logo {
    width: 60px;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background-color: grey;
    justify-content: center;
}

.footer-text {
    padding-left: 20px;
    color: aliceblue;
}