* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    height: 100px;
    margin-bottom: 70px;
    background-color: white;
    box-shadow: 0px 5px 10px whitesmoke;
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.nav-world {
    width: 40px;
    transition: 1s;
}

.nav-world:hover {
    transform: rotate(360DEG);
    cursor: pointer;
}

.trip-container {
    display: flex;
    flex-flow: row nowrap;
    width: 850px;
    margin: 40px auto;
    height: fit-content;
    padding: 40px 40px;
    background-color: whitesmoke;
    border-radius: 15px;
    gap: 40px;
}

.trip-image {
    width: 20vw;
    border-radius: 15px;
}


.trip-map-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 10px;
}

.trip-pin {
    width: 15px;
    transition: 1s;
}

.trip-pin:hover {
    cursor: pointer;
    width: 20px;
}

.trip-place,
a { 
    color: grey;
}

a:hover {
    color: red;
}

.trip-title {
    font-size: 24pt;
    padding: 20px 0;
}

.trip-description {
    padding: 5px 0;
}