* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0px 15px;
}

div, h1 {
    margin: 20px 0;
}

button {
    padding: 5px 20px;
    cursor: pointer;
}