* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    background: linear-gradient(to right, #5F0A87, #A4508B);
    width: 100%; 
    height: 100px;
    color: white;
    gap: 20px;
    padding: 0px 40px;
}

.header-image {
    width: 50px;
}

.header-title {
    margin-right: auto;
    font-weight: 500;
}

.header-subtitle {
    font-weight: 500;
}

main {
    padding: 40px;
}

form {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: fit-content;
    gap: 30px 5vw;
    justify-content: center;
}

input {
    height: 50px;
    width: 42.5vw;
    font-size: 16pt;
    text-indent: 20px;
    border: 2px solid lightgrey;
    border-radius: 10px;
}

button {
    width: 90vw;
    height: 60px;
    background: linear-gradient(to right, #5F0A87, #A4508B);
    color: white;
    font-size: 16pt;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    border: 2px solid lightgray;
}

.meme {
    position: relative;
    margin: 40px auto;
    width: fit-content;
}

.meme--image {
    max-width: 100%;
}

#memeTopText,
#memeBottomText
{
    left: 50%;
    transform: translate(-50%);
    color: white;
    text-transform: uppercase;
    margin: 10px 0px;
    text-align: center;
}

#memeTopText {
    position: absolute;
    top: 0px;
}

#memeBottomText {
    position: absolute;
    bottom: 0px;
}