* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #222;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.state {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.state--title {
    color: white;
}

.state--value {
    margin-top: 40px;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    cursor: pointer;
}
